<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cui.trypro">


    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/ActionBarTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReboundActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InstaMateriaL_Activity"
            android:screenOrientation="portrait" />
        <activity android:name=".Material_Toolbar_Animation_Activity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".animation.ZhiHuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SimpleAnimationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".animation.GifActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".animation.AndroidL_NewApi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".animation.MyOptionICS"
            android:screenOrientation="portrait" />


        <activity android:name="com.github.mmin18.layoutcast.ResetActivity" />
    </application>

</manifest>
